<footer>
  <div class="container small border-top">
    <div class="row py-5 d-flex justify-content-between">

      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <address class="text-secondary mt-3">
          <strong>{{ site.title }}</strong><br>
          <abbr title="Phone">P:</abbr>
          <a href="tel:{{ site.phone }}" class="link-fancy">{{ site.phone }}</a>
        </address>
      </div>

      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">Navigation</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="disclaimer">Disclaimer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="terms-of-service.html">Terms of Service</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">Services</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="tree-removal-services.html">Tree Removal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Tree Trimming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Tree Pruning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Stump Removal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Arborist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Lawn Aerating</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Emergency Tree Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Lot Clearing</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-6 col-xl-3 p-5">
        <h3 class="h6 mb-3">Articles</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="https://n21properties.com/co-hosting.html">Why you should partner a co-host to manage your short-term rental property</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-center py-3 small">© 2023 All Rights Reserved | Affordable Tree Services Miami FL | Designed by <a href="https://325studio.com" class="link-fancy" target="_blank">325 Studio</a> | Created by <a href="https://templatedeck.com" class="link-fancy" target="_blank">Templatedeck</a>
  </div>
</footer>