<nav id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top" tabindex="0">
  <div class="container">
    <a class="navbar-brand pe-4 fs-4" href="/">
      <span class="ms-1">Affordable Tree Services Miami</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../index.html" aria-label="Brings you to the frontpage">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../services/" aria-label="About Anthony Naccarato">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../locations/" aria-label="About Anthony Naccarato">
            Locations
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">
            Contact Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../faq/">
            FAQ
          </a>
        </li>
        <li class="nav-item">
          <a href="tel:{{ site.phone }}" aria-label="Call us" class="nav-link">
            {{ site.phone }} 
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>